<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <title>About</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="aboutrow row ">
                    <div class="col-md-1">
                        <img class="homelogo" alt="Home Logo" src="images/placeholderlogo.png" />
                    </div>
                    <div class="col-md-7">
                        <ul class="headerstyle">
                            <li class="listyle">
                                <a href="/home" class="headerlinks">Home</a>
                            </li>
                            <li class="listyle">
                                <a href="/about" class="headerlinks">About</a>
                            </li>
                            <li class="listyle">
                                <a href="/apartments" class="headerlinks">Apartments</a>
                            </li>
                            <li class="listyle">
                                <a href="/forums" class="headerlinks">Forums</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img class="profileimage" alt="Profile logo" src="images/ppholder.png" />

                        <div class="dropdown burgermenu">

                            <img src="images/burgermenu.png" class="burgerclick" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 logoholder">
                            <h1 class="mainabouttext">
                                ABOUT
                            </h1>
                            <h3 class="abouttext">
                                What we provide
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row aboutholder">
                            <div class="col-md-4 undereasy">
                                <img class="aboutimage" alt="Apartment Searching Made Easy" src="images/placeholderimage.png" />
                                <p class="aboutunder">
                                    Apartment Searching Made Easy
                                </p>
                                <p class="aboutsecond">
                                    Be able to easily canvas the apartment you like and find the one that suits your budget
                                </p>
                            </div>
                            <div class="col-md-4 undereasy">
                                <img class="aboutimage" alt="Book Whenever, Wherever" src="images/placeholderimage.png" />
                                <p class="aboutunder2">
                                    Book Whenever, Wherever
                                </p>
                                <p class="aboutsecond2">
                                    Be able to book at the comfort of your own home
                                </p>
                            </div>
                            <div class="col-md-4 undereasy">
                                <img class="aboutimage" alt="Forum Discussions" src="images/placeholderimage.png" />
                                <p class="aboutunder2">
                                    Forum Discussions
                                </p>
                                <p class="aboutsecond2">
                                    Ideas and issues can be freely discussed with our online forums
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="row missionholder">
                            <div class="">
                                <p class="missiontext">
                                    The Mission
                                </p>
                            </div>
                            <div>
                                <img class="quote1" src="images/quotations.png">
                                <p class="missionsecond">
                                    “Loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ispum”
                                </p>
                                <img class="quote2" src="images/quotations2.png">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row footerform">
                    <div class="col-md-6 footerleft">
                        <h3 class="footerquestion">
                            Questions?
                        </h3>
                        <p class="footertext">
                            If you have any questions or issues regarding the system,<br> please feel free to leave a message.
                        </p>
                        <p class="footertext">
                            Your feedback is greatly appreciated
                        </p>
                    </div>
                    <div class="col-md-6 ">
                        <form role="form">
                            <div class="form-group footerright">

                                <label class="footerlabel" for="UserName">
								Your Name
							</label>
                                <input type="text" class="formstyle" id="UserName" />
                            </div>
                            <div class="form-group footerright">
                                <label class="footerlabel" for="UserEmail">
								Your Email
							</label>
                                <input type="email" class="formstyle" id="UserEmail" />
                            </div>
                            <div class="form-group footerright">
                                <label class="footerlabelMessage" for="UserMessage">
								Message
							</label>
                                <input type="text" class="formstyle" id="UserMessage" />
                            </div>
                            <div class="footerright">
                                <button type="submit" class="FooterButton">
							Send
						</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>