<!DOCTYPE html>
<html >
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

	<title>Apartment Details</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="aboutrow row ">
				<div class="col-md-1">
					<img class="homelogo" alt="Home Logo" src="images/placeholderlogo.png" />
				</div>
				<div class="col-md-7">
					<ul class="headerstyle">
						<li class="listyle">
							<a href="#" class="headerlinks">Home</a>
						</li>
						<li class="listyle">
							<a href="#" class="headerlinks">About</a>
						</li>
						<li class="listyle">
							<a href="#" class="headerlinks">Apartments</a>
						</li>
						<li class="listyle">
							<a href="#" class="headerlinks">Forums</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<img class="profileimage" alt="Profile logo" src="images/ppholder.png"/>

					<div class="dropdown burgermenu">
						 
						<img src="images/burgermenu.png" class="burgerclick" type="button" id="dropdownMenuButton" data-toggle="dropdown">
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							 <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="#">Log Out</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5">
							<div class="mainpicholder">
								<img class="mainaptpic" alt="Apartment Image 1" src="images/apholder.png" />
							</div>
							<div class="row">								
									<div class="col-md-5">
										<img class="secaptpic1" alt="Apartment Image 2" src="images/apholder.png" />
								</div>
								<div class="col-md-3">
									<img class="secaptpic2" alt="Apartment Image 3" src="images/apholder.png" />
								</div>
								<div class="col-md-4">
									<img class="secaptpic3" alt="Apartment Image 4" src="images/apholder.png" />
								</div>
								<div class="aptstarholder">
									<img class="aptstarsunder" alt="Star Rating" src="images/stars.png" />
								</div>
							</div>

						</div>
						<div class="col-md-7">
							<div class="aptdetailinfo">
								<p class="aptdetailspace">
									Address: Loren ipsum loren ipsum
								</p>
								<p class="aptdetailspace">
									Room type: Shared 
								</p>
								<p class="aptdetailspace">
									Capacity: 2
								</p>
								<p class="aptdetailspace">
									Person staying: <img class="aptdetailpic"src="images/ppholder.png">
								</p>
								<p class="aptdetailspace">
									Restriction: Female only
								</p>
								<p class="aptdetailspace">
									Price: Php 5,000/ month
								</p>
								<p class="aptdetailspace">
									Owner: <img class="aptdetailpic"src="images/ppholder.png">
								</p>
								<p class="aptdetailspace">
									Description:
								</p>
								<p class="aptdetailspace"> 
									“Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren ipsum
								</p>
								<button type="button" class="aprentbutton">
									Rent
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row footerform">
				<div class="col-md-6 footerleft">
					<h3 class="footerquestion">
						Questions?
					</h3>
					<p class="footertext">
						If you have any questions or issues regarding the system,<br> please feel free to leave a message.
					</p>
					<p class="footertext">
						Your feedback is greatly appreciated
					</p>
				</div>
				<div class="col-md-6 ">
					<form role="form">
						<div class="form-group footerright">
							 
							<label class="footerlabel" for="UserName">
								Your Name
							</label>
							<input type="text" class="formstyle" id="UserName" />
						</div>
						<div class="form-group footerright">
							<label class="footerlabel" for="UserEmail">
								Your Email
							</label>
							<input type="email" class="formstyle" id="UserEmail" />
						</div>
						<div class="form-group footerright">
							<label class="footerlabelMessage" for="UserMessage">
								Message
							</label>
							<input type="text" class="formstyle" id="UserMessage" />
						</div>
						<div class="footerright">
						<button type="submit" class="FooterButton">
							Send
						</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
