<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <title>User Profile</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="aboutrow row ">
                    <div class="col-md-1">
                        <img class="homelogo" alt="Home Logo" src="img/placeholderlogo.png" />
                    </div>
                    <div class="col-md-7">
                        <ul class="headerstyle">
                            <li class="listyle">
                                <a href="/home" class="headerlinks">Home</a>
                            </li>
                            <li class="listyle">
                                <a href="/about" class="headerlinks">About</a>
                            </li>
                            <li class="listyle">
                                <a href="/apartments" class="headerlinks">Apartments</a>
                            </li>
                            <li class="listyle">
                                <a href="/forums" class="headerlinks">Forums</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img class="profileimage" alt="Profile logo" src="img/ppholder.png" />

                        <div class="dropdown burgermenu">

                            <img src="img/burgermenu.png" class="burgerclick" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="optionholder">
                                    <button>
                                        <a href="/profile">
                                    <div class="optiondiv" >
                                        <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                        <p class="optiontext" style="color: black;">
                                            Profile Information
                                        </p>
                                    </div>
                                        </a>
                                    </button>



                                    <hr>
                                    <button style="background-color: yellow; ">
                                    

                                        <div class="optiondiv">
                                        <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                        <p class="optiontext" style="color: black;">
                                            Apartment Profiles
                                        </p>
                                        </div>
                                    
                                   
                                </button>
                                    <hr>
                                    <button>
                                <div class="optiondiv" style="width: 200px;">
                                    <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                    <p class="optiontext" >
                                        Settings     
                                    </p>
                                </div>
                            </button >
                                    <div class="optionlogdiv">
                                        <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                        <p class="optiontext">
                                            Log Out
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="userholder">
                                    <h3 class="tenanttext">
                                        <%-user.fname%> New Apartment
                                        
                                    </h3>
                                    <img class="userprofstyle" onclick="document.getElementById('tenantmodal')" alt="Tenant Profile Image" src="img/ppholder.png" />
                                    <img class="pencil" alt="Edit Image" src="img/pencil.png">

                                    <form role="form" method="POST" action="/apartmentAdd/<%-user.accUID%> ">
                                        <button class="tenanteditbutton" type="submit">Save</button>
                                    <div class="tenantinfoeditdiv">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserMName">
															City
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="city" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserMName">
															Street
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="street" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserLName">
															Baranggay
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="baranggay" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserLName">
															Type
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="type" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserContactNumber">
															Capacity
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="capacity" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserContactNumber">
															Restriction
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="restriction" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserContactNumber">
															Price
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="price" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="tenantinfolabels" for="UserContactNumber">
															Details
														</label>
                                                        <input class="tenantinfoinput" type="text" class="form-control" name="description" style="height: 200px;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row footerform">
                    <div class="col-md-6 footerleft">
                        <h3 class="footerquestion">
                            Questions?
                        </h3>
                        <p class="footertext">
                            If you have any questions or issues regarding the system,<br> please feel free to leave a message.
                        </p>
                        <p class="footertext">
                            Your feedback is greatly appreciated
                        </p>
                    </div>
                    <div class="col-md-6 ">
                        <form role="form">
                            <div class="form-group footerright">

                                <label class="footerlabel" for="UserName">
								Your Name
							</label>
                                <input type="text" class="formstyle" id="UserName" />
                            </div>
                            <div class="form-group footerright">
                                <label class="footerlabel" for="UserEmail">
								Your Email
							</label>
                                <input type="email" class="formstyle" id="UserEmail" />
                            </div>
                            <div class="form-group footerright">
                                <label class="footerlabelMessage" for="UserMessage">
								Message
							</label>
                                <input type="text" class="formstyle" id="UserMessage" />
                            </div>
                            <div class="footerright">
                                <button type="submit" class="FooterButton">
							Send
						</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>