<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Sign-Up</title>
</head>

<body style="background-color: black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="signdivpad col-md-8">
                <div class="row" style="height: 1200px;">
                    <div class="mainsigndiv col-md-6" style="height: 900px;">
                        <h3 class="signtitle">
                            Create Your Account
                        </h3>
                        <form class="formpadding" role="form" action="/signup" method="POST">
                            <div>
                                <div class="form-group">

                                    <label class="signlabels" for="First Name">
								First Name
							</label>
                                    <input type="text" class="inputterstyleS form-control" name="fname" />
                                </div>

                                <div class="form-group">

                                    <label class="signlabels" for="Last Name">
								Last Name
							</label>
                                    <input type="text" class="inputterstyleS form-control" name="lname" />
                                </div>
                                <div class="form-group">

                                    <label class="signlabels" for="Middle Name">
								Contact Number
							</label>
                                    <input type="text" class="inputterstyleS form-control" name="contact" />
                                </div>
                                <div class="form-group">

                                    <label class="signlabels" for="Middle Name">
								Birth Date
							</label>
                                    <input type="date" class="inputterstyleS form-control" name="birthdate" />
                                </div>
                                <div>
                                    <select name="acctype" class="form-select signlabels selectorstyle" style="float: right;" aria-label="Default select example">
							  <option selected>Account Type</option>
							  <option value="0">Tenant</option>
							  <option value="1">Owner</option>
							</select>
                                </div>
                                <div>
                                    <select name="gender" class="form-select signlabels selectorstyle" aria-label="Default select example">
							  <option selected>Sex</option>
							  <option value="male" >Male</option>
							  <option value="female">Female</option>
                              <option value="undefined">Undefined</option>
							</select>
                                </div>
                                <div class="form-group">
                                    <label class="signlabels" for="Email Address">
								Email Address
							</label>
                                    <input type="text" class="inputterstyleS form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label class="signlabels" for="Password">
								Password
							</label>
                                    <input type="password" class="inputterstyleS form-control" name="password">
                                    <label class="signlabels" for="Repeat Password">
                                    Repeat Password
                                </label>
                                    <input type="text" class="inputterstyleS form-control" name="repeatpass">

                                </div>

                                <button type="submit" class=" regbuttonstyle btn btn-primary">
							Register →
						</button>
                            </div>
                        </form>
                    </div>
                    <div style="padding-left: 30px; height: 900px;" class="signdiv col-md-6 ">

                        <button style="font-weight: 900;" type="button" class="closebutt btn btn-light">
						X
					</button><img alt="EZ Logo" class="logostyle" src="img/placeholderlogo.png" />
                        <h3 class="logflavorstyle">
                            Already a Member?
                        </h3>
                        <a class="loghyperstyle" href="/login">
                            <u>Log in to your account here</u>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</body>

</html>